<div class="card border-primary d-grid gap-2 col-6 mx-auto">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form method="post">
            <div class="form-group mb-3 mx-auto" >
                <input [(ngModel)]="iuser.username" type="text" class="form-control" name="username" id="username" placeholder="Nombre de Usuario" autofocus required>
            </div>

            <div class="form-group mb-3 mx-auto">
                <input [(ngModel)]="iuser.password" type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
            </div>

            <div class="form-group d-grid gap-2  mx-auto">
                <input (click)="login()" type="submit" class="btn btn-primary" value="Iniciar Sesión">
            </div>
        </form>
        <br>
        <p class="text-center ">No tiene cuenta? Tal vez quiera <br> <button class="btn btn-outline-primary btn-sm mt-2" routerLink="/registro">Registrarse</button></p>

    </div>
</div>