<div class="card border-primary mb-4 my-4" >
  <div class="card-header text-center"><h2>Iniciar Sesión</h2>
  
  
  
  </div>
 
  <div class="card-body">   

    <div class="">
      
      <form #loginform="ngForm" (ngSubmit)="loginUser()">
  
        <div class="form-group mb-4">
          <label for="email">Email:</label>
          <input type="email" class="form-control"  placeholder="Introduce tu email" name="email" [(ngModel)]="creds.email" required email #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched && email.dirty"
          >
          <div class="text-danger" *ngIf="email.invalid && (email.touched || email.dirty) "> 
              <small  *ngIf="email.errors?.['required']">
                  Correo es requerido
              </small >
              <small   *ngIf="email.errors?.['email']">
                  Formato de correo invalido
              </small >
          </div>
          
        
      </div>
        <div class="form-group mb-4">
          <label for="pwd">Contraseña:</label>
          <input type="password" class="form-control"  placeholder="Introduce tu contraseña" name="password" [(ngModel)]="creds.password" required password #password="ngModel"
          minlength="4"
          [class.is-invalid]="password.invalid && (email.touched || email.dirty)"
          >
          <small class="text-danger" *ngIf="password.invalid && (email.touched || email.dirty)">Contraseña debe contener al menos 4 caracteres</small>
        </div>
        <button type="submit" class="btn btn-primary mb-2" [disabled]="!loginform.form.valid" >Iniciar Sesión</button>
      </form>
      <small class="cursor.hand" >¿No tienes tu cuenta?<strong routerLink="/registrarse" style="cursor: pointer" > Has click aquí para registrarte.</strong> </small>
  
    </div>
  





  </div>


</div>




  