<ul *ngIf="this.router.url =='/usuarios' && pages?.length! > 0" class="pagination" >
    
    <li class="page-item" *ngIf="paginator.number > 0">

        <a clas="page-link" [routerLink]= "['/usuarios/page/',paginator.number-1]"> &laquo; </a>
    </li>
    
    <!---->  
    <li class="page-item" *ngFor="let page of pages">
        <span class="page-link" *ngIf="page-1 == paginator.number" [ngClass]="page-1 == paginator.number?'disabled':''"> {{page}} </span>
        <a class="page-link" *ngIf="page-1 != paginator.number" [routerLink]= "['/usuarios/page/',page-1]"  > {{page}} </a> 
    </li>

    <li class="page-item" *ngIf="paginator.number < paginator.totalPages-1">

        <a clas="page-link" [routerLink]= "['/usuarios/page/',paginator.number+1]"> &raquo; </a>
    </li>

</ul>

<ul *ngIf="this.router.url !=='/usuarios' && pages?.length! > 0" class="pagination" >
   
    <li class="page-item" *ngIf="paginator.number > 0">

        <a clas="page-link" [routerLink]= "['/usuarios/page/',paginator.number-1]"> &laquo; </a>
    </li>
   
   
    <li class="page-item" *ngFor="let page of pages" >
        <span class="page-link" *ngIf="page-1 == paginator.number" [ngClass]="page-1 == paginator.number?'disabled':''"> {{page}} </span>
        <a class="page-link" *ngIf="page-1 != paginator.number" [routerLink]= "['/usuarios/page/',page-1]"  > {{page}} </a> 
    </li>

    
    <li class="page-item" *ngIf="paginator.number < paginator.totalPages-1">

        <a clas="page-link" [routerLink]= "['/usuarios/page/',paginator.number+1]"> &raquo; </a>
    </li>


</ul>