
<div class="card border-primary mb-3 my-3" >
    <div class="card-header">Administracion de Productos</div>
    <div class="card-body text-primary">
       
        <h5 class="card-title">Administracion de Productos</h5>
       
        <button class="btn btn-primary mb-4" routerLink="/registrarproducto">Crear Producto</button>
       
        <div *ngIf="productos.length==0" class="alert alert-info">
            No hay registros en la base de datos
        </div>
      
        <table class="table table-bordered table-striped" *ngIf="productos.length>0">

            <thead>
                 <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>precio</th>                  
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
           
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>
                        <img *ngIf="producto?.foto"
                            src="http://localhost:8081/blackuva/facturas/uploads/img/{{producto.foto}}" alt="{{producto.foto}}"
                            style="width: 64px; cursor: pointer;">
                        
                        <img *ngIf="!producto?.foto"
                            src="http://localhost:8081/images/no-image.png" alt="sin foto"
                            style="width: 64px; cursor: pointer;">                                                        
                    </td>
                    <td>{{ producto.nombre }}</td> 
                    <td> &euro; {{ producto.precio }}</td>
                    
                    <td>
                        <button type="button" name="button" [routerLink]="['/registrarproducto/',producto.id]" class="btn btn-primary">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)="eliminarProducto(producto)" class="btn btn-danger">Eliminar</button>
                    </td> 
                </tr>
            </tbody>
            
        </table>

    </div>
  </div>
 