<p>register works!</p>

<!--
<ul class="alert alert-danger" *ngIf="errores.length > 0">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>
-->

<div class="card bg-dark text-white">
    <div class="card-header"> Registro de Usuarios </div>
    <div class="card-body">

        <form #registroform="ngForm"> 
            <div class="form-grup row">
                <label for="name" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required  minlength="4" #name="ngModel"> 
                    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div  *ngIf="name.errors?.['required']">
                            Nombre
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            El Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="form-grup row">
                <label for="lastname" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname" required #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div  *ngIf="apellido.errors?.['required']">
                            Apellido es requerido
                        </div>
                    </div>
                </div>
            </div>
           

            <div class="form-grup row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required email #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div  *ngIf="email.errors?.['required']">
                            Correo es requerido
                        </div>
                        <div  *ngIf="email.errors?.['email']">
                            Formato de correo invalido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-grup row">
                <label for="password" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required #pass="ngModel"> 
                    <div class="alert alert-danger" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                        <div  *ngIf="pass.errors?.['required']">
                            Contraseña es requerida
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="form-grup row">
                <label for="password" class="col-form-label col-sm-2">Fecha de creacion</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="user.dateofbirth" name="dateofbirth" required #dateofbirth="ngModel"> 
                    <div class="alert alert-danger" *ngIf="dateofbirth.invalid && (dateofbirth.dirty || dateofbirth.touched)">
                        <div  *ngIf="dateofbirth.errors?.['required']">
                            Fecha nacimiento es requerida
                        </div>
                    </div>
                </div>
            </div>

           
            <!----
            <div class="form-grup row">
                <label for="password" class="col-form-label col-sm-2">Region</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRegion" class="form-control form-select" [(ngModel)]="user.region" name="region" required #region="ngModel">                                            
                        <option [ngValue]="undefined">- Seleccionar una region -</option>
                        <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
                    </select> 
                    <div class="alert alert-danger" *ngIf="region.invalid && (region.dirty || region.touched)">
                        <div  *ngIf="region.errors?.['required']">
                            Es requerido seleccionar una region
                        </div>
                    </div>
                </div>
            </div>
            -->

            <div class="form-grup row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" (click)="createUser()" [disabled]="!registroform.form.valid" *ngIf="!user.id else elseBlock">Registrarse</button>
                    <ng-template #elseBlock>
                       <button type="button" class="btn btn-primary" (click)="actualizarUsuario()" [disabled]="!registroform.form.valid">Actualizar</button> 
                    </ng-template>
                </div>
            </div>

        </form>
   
    </div>
</div>





