<div class="bg-dark">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" routerLink="/catalogo" >Blackuva</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" >
            <a class="nav-link" routerLink="catalogo">Catalogo</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/carrito">
              <img src="http://localhost:8081/images/carrito-b.png" style="max-width: 24px; max-height: 24px;">
              
              <span class=" top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="carritoService.carrito.length > 0">
                {{carritoService.carrito.length}}
                <span class="visually-hidden">articulos del carrito</span>
              </span>
            </a>
          </li> 
        </ul>
        <ul class="navbar-nav ms-auto">
          <li *ngIf="!isAuthenticated()"><a routerLink="login" class="btn btn-outline-primary" >Iniciar Sesión</a></li>
    
          <li *ngIf="isAuthenticated()" class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img 
              src="http://localhost:8081/images/no-usuario-b.png" alt="sin foto"
              style="width: 24px; cursor: pointer;">
               {{authservice.getuserInSession()}}
            </a>            
            <ul class="dropdown-menu">           
              <button *ngIf="authservice.isAdmin()" class="dropdown-item" routerLink="/listaproductos"><span class="p-2 badge bg-info border border-dark rounded-circle"><span class="visually-hidden"></span></span> Productos</button>
              <button *ngIf="authservice.isAdmin()" class="dropdown-item" routerLink="/listausuarios"><span class="p-2 badge bg-info border border-dark rounded-circle"><span class="visually-hidden"></span></span> Usuarios</button>
              <button class="dropdown-item" routerLink="/dashboard">Mi Perfil</button>
              <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sesión</button>
              
            </ul> 
          </li>
     
        </ul>
      </div>
    </nav>
    </div>
    </div>