<div class="card bg-dark text-white">
    <div class="card-header"> {{titulo}} </div>
    <div class="card-body">

        <form> 
            <div class="form-grup row">
                <label for="name" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
                </div>
            </div>

            <div class="form-grup row">
                <label for="lastname" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname">
                </div>
            </div>

            <div class="form-grup row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
                </div>
            </div>

            <div class="form-grup row">
                <label for="password" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
                </div>
            </div>

            <div class="form-grup row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" (click)="create()" *ngIf="!user.id else elseBlock">Registrarse</button>
                    <ng-template #elseBlock>
                        <button type="button" class="btn btn-primary" (click)="actualizarUsuario()" >Editar</button>
                    </ng-template>
                </div>
            </div>

        </form>
   
    </div>
</div>


<br>


<!-- 

<form>

    <div class="form-grup row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" [(ngModel)]="ulogin.email" name="email">
        </div>
    </div>

    <div class="form-grup row">
        <label for="password" class="col-form-label col-sm-2">Contraseña</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" [(ngModel)]="ulogin.password" name="password">
        </div>
    </div>

    <div class="form-grup row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" (click)="loguearse()" *ngIf="!user.id else elseBlock">Registrarse</button>
            <ng-template #elseBlock>
                <button type="button" class="btn btn-primary" (click)="loguearse()" >Editar</button>
            </ng-template>
        </div>
    </div>

</form>

-->